<title>Login</title>
<form action="/" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>

    <div class="button">
        <button type="submit">Login</button>
    </div>
    {% from "errors.html" import error_list %}
    {{ error_list(errors=errors) }}
    <p>Don't have an account? Signup <a href="/signup">here</a>!</p>
</form>
