<title>Login</title>
<form action="/signup" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </div>

    {% if errors %}
    {% for e in errors %}
    <div style="color:red">{{ e }}</div>
    {% endfor %}
    {% endif %}

    <div class="button">
        <button type="submit">Signup</button>
    </div>
</form>
